{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "block-no-empty": null,
    "scss/at-import-no-partial-leading-underscore": null,
    "color-function-notation": "legacy",
    "declaration-empty-line-before": "never",
    "selector-class-pattern": "."
  },
  "plugins": [
    "stylelint-scss"
  ]
}
